<main>
  <div>
    <div class="flex-header">
      <h2>Active Programs</h2>
      <% if current_user.producer? %>
        <%= link_to "New Program", new_program_path, class: "button" %>
      <% end %>
    </div>
    <% @active_programs.each do |program| %>
      <%= link_to program.name, program_path(program), class: "button" %>
    <% end %>
  </div>
  <div>
    <h2>Inactive Programs</h2>
    <% @inactive_programs.each do |program| %>
      <%= link_to program.name, program_path(program), class: "button" %>
    <% end %>
  </div>
</main>
